{% extends 'numberplatesgenerator/base.html' %}

{% block content %}
 <div class="row">
    <div class="col-sm-12"><h1 class="h1">Generate Plate Numbers</h1></div>
  </div>
  <div class="row">

    <div class="col-sm">
    </div>
    <div class="col-sm">
    <div class="row">
        <form method="post">
         {% csrf_token %}
            <div class="form-group">
                <label for="LGA">Select LGA</label>
                <select name="lga" class="form-control" id="lga">
                <option value="ABJ">Abaji</option>
                <option value="ABC">Abuja Municipal</option>
                <option value="GWA">Gwagwalada</option>
                <option value="KUJ">Kuje</option>
                <option value="BWR">Bwari</option>
                <option value="KWL">Kwali</option>
                </select>
            </div>

            <div class="form-group">
            <label for="NumberOfPlatesToGenerate">Number of Plates to Generate</label>
            <input type="number" class="form-control" name="numberOfPlates" id="numberOfPlates" placeholder="Enter A Number">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="row">
    <!--  The platenumbers should be dispolayed here. -->
    <table class="table">
  <thead>
    <tr>

      <th scope="col">Plate Numbers</th>
    </tr>
  </thead>
  <tbody>
   {% for number in number_plate %}
   <tr>
      <td>
      {{number.lga_code}} 
      {% if number.number > 10 %}
     00{{number.number }} 
     {% endif %} 
     0{{number.number}} 
     {{ number.alphabet}}</td>
   
    </tr>
  
    {% endfor %}
    
    
    </tr>
  </tbody>
</table>
   
    </div>
    </div>
    <div class="col-sm">
 
    </div>
  </div>
{% endblock content %}

